.ipynb_checkpoints/
# berlin_data_exploration.ipynb
# airbnb_berlin_notebook.ipynb
# Airbnb.ipynb
# airbnb_updated.ipynb
# airbnb_revised_Mar_2.ipynb

# py files
berlin_db.py

# Data CSV
listings_summary.csv

# for backup
berlin_model.pkl

# To store variables
.env
